* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(99, 88, 88);
}

.white {
    background-color: rgb(181, 182, 133);
}

.selected {
    background-color: rgb(61, 76, 207);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(0, 255, 34);
}

.lost {
    height: calc(50vh - 60px);
    padding: 50px 30px 50px 30px;
    margin-left: 50px;
    background-color: burlywood;
}